.forget_hover {
	position: fixed;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	z-index: 1001;
	left: 0;
	top: 0;
	display: none;
	font-size: .8rem;
}

.forget_hover .closed_btn {
	position: absolute;
    width: .8rem;
    height: .8rem;
    right: 1rem;
    top: 1rem;
    background: url('images/hide_left_nav.png') center no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}

.forget_hover .forget_window {
	position: absolute;
	left: 50%;
	top: 9rem;
	transform: translateX(-50%);
    -ms-transform: translateX(-50%);    
    -moz-transform: translateX(-50%);   
    -webkit-transform: translateX(-50%); 
    -o-transform: translateX(-50%);
	background: #fff;
	padding: 0 2rem 2rem 2rem;
}

.forget_hover h2.title {
	color: #93732b;
	margin: 0;
	text-align: left;
	font-size: 1.3rem;
	margin-top: .6rem;
	display: inline-block;
	margin-bottom: 1rem;
}

.forget_window .btn_box {
	display: inline-block;
	position: relative;
}

.forget_window .btn {
	background: #93732b;
	color: #fff;
	border: none;
	outline: none;
	padding: .32rem 1.5rem;
	cursor: pointer;
}
.send_verification_code.disable {
	background: #aaa;
}

.forget_window .resend_tip {
	text-align: center;
	width: 100%;
	line-height: 1;
	position: absolute;
	left: 50%;
	top: 110%;
	transform: translateX(-50%);
    -ms-transform: translateX(-50%);    
    -moz-transform: translateX(-50%);   
    -webkit-transform: translateX(-50%); 
    -o-transform: translateX(-50%);
    color: #ccc;
    display: none;
    font-size: .7rem;
}
.forget_window .input_box {
	width: 32rem;
	height: 3rem;
	border: none;
}
.forget_window .input_box input {
	width: 65%;
	margin-right: 2rem;
	border: none;
    outline: none;
    height: 2rem;
    line-height: 2rem;
    font-size: .8rem;
    vertical-align: bottom;
    border-bottom: 1px solid #93732b;
}
.pwd_tip {
	color: #93732b;
	font-size: .7rem;
}