h2.title {
	text-align: center;
	margin: 2rem auto;
	letter-spacing: .32rem;
}
.map_box {
	width: 94%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.map_box img {
	width: 100%;
}

.location_nav {
	position: absolute;
	left: -14rem;
	top: 0;
	background: rgba(0, 0, 0, .8);
	color: #fff;
	width: 15rem;
	height: 100%;
	transition: left .32s;
}
.back1 {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	color: #fff;
	font-size: .8rem;
	display: none;
	cursor: pointer;
}

.location_nav.show {
	left: 0;
}

.hide_location_nav,
.show_location_nav {
	position: absolute;
	right: .5rem;
	top: .2rem;
	width: 1.5rem;
	height: 1.5rem;
	background: url('images/hide_arrow.png') center no-repeat;
	background-size: auto 40%;
	cursor: pointer;
}

.show_location_nav {
	background-image: url('images/show_arrow.png');
	background-size: auto 50%;
	right: -2rem;
	top: 50%;
	margin-top: -.75rem;
}
.location_title {
	margin-top: 2rem;
	padding-left: 1rem;
	font-size: .9rem;
}

.location_list {
	position: relative;
	width: 80%;
	height: 74%;
	margin: .8rem auto 0 auto;
	padding-left: 2%;
    overflow: hidden;
    margin-top: 1rem;
}

.ps-container .ps-scrollbar-y {
	background-color: #fff;
}

.ps-container .ps-scrollbar-y-rail {
	border-left: 1px solid #fff;
}

.location_nav a {
	color: #fff;
	font-size: .8rem;
}

.map_fun_box {
	position: absolute;
	width: 1rem;
	right: 1rem;
	bottom: 1rem;
}
.store_search,
.enlarge_map,
.reduce_map {
	display: block;
	height: 1rem;
	background: url('images/store_search.png') center no-repeat;
	background-size: 100% auto;
	margin-bottom: .5rem;
}
.enlarge_map {
	background-image: url('images/enlarge_map.png');
}
.reduce_map {
	background-image: url('images/reduce_map.png');
}
.store_info_box {
	display: none;
}

.shi_list,
.qu_list,
.store_list {
	padding-left: 1rem;
}
.shi_list {
	padding-right: 1rem;
	margin-bottom: 1rem;
}

.shi_list li a{
	height: 1.5rem;
	line-height: 1.5rem;
}

.shi_list a {
	display: block;
	font-size: .8rem;
}

.qu_list,
.store_list {
	display: none;
}

.shi_list>li>a,
.qu_list>li>a {
	background: url('images/white_arrow_down.png') 99% center no-repeat;
	background-size: .4rem auto;
}

.shi_list>li>a.active,
.qu_list>li>a.active {
	background-image: url('images/white_arrow_up.png');
}

.ps-scrollbar-y {
	height: 32px !important;
}

.par {
	margin: 2rem auto;
	font-size: .8rem;
}


@media only screen and (max-width: 768px) {
	.map_box {
		width: 100%;
	}

	.store_info_box {
		width: 100%;
		display: block;
		text-align: center;
	}

	.store_title {
		margin: 1rem 0;
	}
	.store_country,
	.store_location {
		border-bottom: 1px solid #93732b;
		background: url('images/light_arrow_down.png') 98% center no-repeat;
		background-size: .6rem auto;
		height: 2rem;
		line-height: 2rem;
	}
	.store_country {
		margin: 1rem 0;
	}
	.store_location {
		position: relative;
	}

	h2.title {
		position: absolute;
		left: 50%;
		top: 4.25rem;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%); 	
		-moz-transform: translateX(-50%); 	
		-webkit-transform: translateX(-50%); 
		-o-transform: translateX(-50%);
		z-index: -1;
	}

	.location_nav,
	.map_fun_box {
		display: none;
	}

	.swiper-container {
		display: none;
		position: absolute;
        width: 100%;
        height: 9rem;
       	z-index: 100;
       	background: #fff;
       	border: 1px solid #93732b;
       	left: 0;
       	top: 100%;
       	overflow: hidden;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        font-size: .8rem;
    }
    .swiper-slide-next + .swiper-slide {
    	font-size: 1rem;
    }

    .store_lists_title,
    .store_name {
    	height: 2rem;
    	line-height: 2rem;
    	margin-top: 2rem;
    	font-size: 1rem;
    }
    .store_lists li {
    	height: 2rem;
    	line-height: 2rem;
    }
    .store_lists_box table {
    	text-align: left;
    }
    .store_lists_box table td {
    	padding: 1rem 0;
    }

    .store_lists_box table .first_td {
    	width: 6em;
    }

    .back {
    	position: absolute;
    	width: 1rem;
    	height: 1rem;
    	background: url('images/light_arrow_left.png') center no-repeat;
    	background-size: auto 60%;
    	left: 1rem;
    	top: .5rem;
    	z-index: 100;
    	display: none;
    }

}